
<div class="main">
  <div class="submenu">
    <ul class="daten">
      <li class="selected"><a href="#/datenrettung">Datenrettung: Erste Massnahmen</a></li>
      <li><a href="#/videorekonstruktion">Video-Rekonstruktion</a></li>
    </ul>
    <div class="clearer"></div>
  </div>
  <div class="content">
    <div class="teacher-section">
      <div class="teacher-info">

        <img src="img/philipp.business.card.small.png" alt="Philipp Glaninger">
        <br>
        <br>
        <div class="quote small">
          „Videos unleserlich? Keine Panik!
          Gerne berate ich Sie per E-Mail mail@filmeffects.net oder telefonisch
          unter der Nummer 0699/10961666“
        </div>
      </div>
      <div class="section course-selection">
        <h1>
          Video-Rekonstruktion:
        </h1>
        <p>Sind ihre Videodateien unleserlich (corrupt) da z.B. die File Header Information verloren gegangen ist, oder eine Datenrettung nur zum Teil geglückt ist? Keine Panik, eine Rekonstruktion ist in vielen Fällen noch möglich! Senden Sie mir unverbindlich eine ihrer korrupten Videodateien sowie eine funktionierende Referenzdatei per WeTransfer an mail@filmeffects.net. Ich teste die Datei auf Funktion, erstelle eine Vorschau des erhaltenen Materials und stelle Ihnen dann ein unverbindliches Angebot. </p>

        <h3>Erste Schritte</h3>
        <p>Wie bereits erwähnt sollten Sie mir zusätzlich zur defekten Datei eine oder mehrere „gesunde“ Clips aus gleicher Quelle als Referenz übermitteln. Zur Beschleunigung der Datenrekonstruktion und als Basis zur Angebotserstellung sind des weiteren folgende Angaben hilfreich.</p>
        <ul>
          <li>Wie viele Videodateien gingen verloren und wie groß sind die Dateien bzw. welche Dauer hatte ihr Inhalt?&nbsp;</li>
          <li>Mit welchem Kameramodel oder welcher Software wurden die Daten generiert? In welchem Dateicontainerformat liegen die Dateien vor? (MOV, AVI, MP4 etc.)</li>
          <li>Mit welchen Settings wurden diese Dateien generiert? (z.B. Codec H.264, 1920 x 1080, 25fps, Audio: 48khz , 16bit Stereo)</li>
          <li>Ab wann sollen die Videos verfügbar sein?</li>
          <li>Benötigen Sie nur Bild, Ton oder beides?</li>
        </ul>

        <h3>Kosten: Datenrekonstruktion</h3>
        <p>Sollte die Rekonstruktion möglich sein, erhalten Sie von mir ein Angebot sowie das rekonstruierte File als Vorschau. Benötigen Sie die Datenrekonstruktion von nur einer einzigen Datei belaufen sich die Kostenauf 100€ (Preis inkl. Mwst.). Handelt es sich um mehrere Dateien so verrechne ich 25€ für jede weitere Rekonstruktion wobei Mengenrabatt möglich ist.</p>
        <p>Gerne berate ich Sie per Mail mail@filmeffects.net oder telefonisch unter der Nummer 0699/10961666.</p>

        <h3>Rechtliches</h3>
        <p>Ihre Daten und Hardware werden mit größtmöglicher Sorgfalt behandelt. Aufgrund der Unabwägbarkeiten bei der Rekonstruktion kann es keine Garantiezusagen für die Wiederherstellbarkeit gegeben werden. Daher ist die Datenrettung und Rekonstruktion ohne jedwede Garantie! Eine Datenrettung findet unter Ausschluss jeglicher Ansprüche statt. Durch die Inanspruchnahme einer Datenrettung durch mich akzeptieren Sie diese Bedingungen!</p>
      </div>
    </div>
  </div>
</div>
