
<div class="main">
  <div class="submenu">
    <ul class="aboutme">
      <li><a href="#/projekte">Projekte</a></li>
      <li class="selected"><a href="#/demoreel">Demoreel</a></li>
      <li><a href="#/lebenslauf">Lebenslauf</a></li>
      <li><a href="#/impressum">Impressum</a></li>
    </ul>
    <div class="clearer">
    </div>
  </div>
  <h1 title="Demoreel - Philipp Glaninger 2013 - (Motion Graphics, 3D, Compositing)">Demoreel - Philipp Glaninger</h1>
  <table class="two-column">
    <tbody>
      <tr>
        <td>
          <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/e2PnKfgl6mc" frameborder="0" allowfullscreen></iframe>
        </td>
        <td>   
          <h3>Motion Graphics, Compositing, 3D, FX Supervision, Matte Painting</h3>
          <p>Demoreel enthält unter anderem:</p>
          <ul>
            <li>Keying und Compositing für <span class="was">"90210"</span> (TV Serie) <span class="wo">MECHnology (LA, USA)</span></li>
            <li>Animation Compositing und Matte Painting für <span class="was">"Piratenfunk Franz Ferdinand"</span> und <span class="was">"Alles Okidoki"</span> (TV Serie) <span class="wo">KidsTV (Wien)</span></li>
            <li>FX Supervision &amp; Animation für <span class="was">"Hinter den Kulissen"</span> (in Produktion)</li>
            <li>Compositing für <span class="was">"Sunny7" </span>(Werbung) <span class="wo">Friendly Fire (Wien)</span></li>
            <li>Animation für <span class="was">Post und PSK </span>(Festival) <span class="wo">Cinecraft (Wien)</span></li>
          </ul>
          <p>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>