
<div class="main">
	<div class="submenu">
		<ul class="aboutme">
			<li><a href="#/projekte">Projekte</a></li>
			<li><a href="#/demoreel">Demoreel</a></li>
			<li><a href="#/lebenslauf">Lebenslauf</a></li>
			<li class="selected"><a href="#/impressum	">Impressum</a></li>
		</ul>
		<div class="clearer"></div>
	</div>
	<h1>Impressum</h1>
	<table class="two-column"><tbody>
		<tr>
			<td class="left-col info"> 
				<h3>Kontakt</h3>
				<p>Haben sie Fragen zu meinen Dienstleistungen? Melden sie sich bei mir unter <a href="mailto:info@filmeffects.net">mail@filmeffects.net</a></p>
				<p>Digital Jam - FilmEffects.net e.U.</p>
				<p>Schönbrunnerstraße 99/10 | A-1050 Wien | Tel: +43 699 10961666</p>
				<p>Inhaber und Herausgeber von <a href="http://www.filmeffects.net">http://www.filmeffects.net</a> ist</p>

				<h3>Digital Jam - FilmEffects.net e.U.</h3>
				<table><tbody>
					<tr>
						<td>Inhaber</td>
						<td>Mag.phil. Philipp Glaninger</td>
					</tr>
					<tr>
						<td>Firmenwortlaut</td>
						<td>Digital Jam - FilmEffects.net e.U.</td>
					</tr>
					<tr>
						<td>Firmenbuchnummer</td>
						<td>399886v</td>
					</tr>
					<tr>
						<td>GLN</td>
						<td>9110018112082</td>
					</tr>
					<tr>
						<td>Firmengericht</td>
						<td>Handelsgericht Wien</td>
					</tr>
					<tr>
						<td>Behörde gem. ECG</td>
						<td>Magistratisches Bezirksamt des V. Bezirkes</td>
					</tr>
					<tr>
						<td>Mitglied der Wirtschaftskammer</td>
						<td>Wien</td>
					</tr>
					<tr>
						<td>Berechtigungen aufrecht</td>
						<td>Technischer Transfer (Entwickeln, Kopieren und Überspielen) und Synchronisation audiovisueller Produktionen, Überspielen auf Trägermaterial jeder Art sowie Be- und Nachbearbeitung und digitale Bild- und Tongestaltung für Bewegtbild, unter Ausschluss der den Berufsfotografen vorbehaltenen Tätigkeiten</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<p>Schönbrunnerstraße 99<br>
							A-1050 Wien<br>
							Austria<br>
							Tel.: +43-699-10 96 1666<br>
							E-mail: <a href="mailto:mail@filmeffects.net">mail@filmeffects.net</a></p>
						</td>
					</tr>
					<tr>
						<td>Steuernummer:</td>
						<td>284 / 2690</td>
					</tr>
					<tr>
						<td>UID:</td>
						<td>ATU64482599</td>
					</tr>
				</tbody></table>
			</td>
			<td class="right-col">
				<img src="img/impressum.map.png" title="map" alt="map"> 
			</td>
		</tr>
	</tbody></table>
</div>