
<div class="main">
  <div class="submenu">
    <ul class="aboutme">
      <li><a href="#/projekte">Projekte</a></li>
      <li><a href="#/demoreel">Demoreel</a></li>
      <li class="selected"><a href="#/lebenslauf">Lebenslauf</a></li>
      <li><a href="#/impressum">Impressum</a></li>
    </ul>
    <div class="clearer"></div>
  </div>

  <h1>Lebenslauf</h1>
  <div class="lebenslauf">
    <table class="lebenslauf">
      <tbody>
        <tr>
          <td class="left-col info">
            <img src="img/philipp.business.card.small.png" alt="Philipp Glaninger">
            <p>Schönbrunnerstrasse 99</p>
            <p>1050 Wien, Österreich</p>
            <p>Email: mail@filmeffects.net</p>
            <p>Phone: + 43 / (0)699 / 10961666</p>
          </td>
          <td class="right-col"><p>Ein paar Worte über mich selbst.</p>
            <p>Filmen war für mich bereits als Kind ein kreatives Ausdrucksmittel. Diese Begeisterung durfte ich schlussendlich zu meinem Beruf machen. Meine erste Lebenshälfte habe ich in Waidhofen an der Ybbs (NÖ) verbracht. Nach Abschluss der Matura zog es mich nach Wien. Dort konnte ich unverzüglich mit meiner eigentlichen gestalterischen Ausbildung beginnen. Eine Vielzahl kleinerer und größerer Projekte hat während dieser Ausbildungszeit langsam an die Zeit als Freelancer und Angestellter Graphiker herangeführt. Da ich mein Wissen gerne weitergebe begann ich schon früh mit dem Unterrichten. </p>
            <p>Heute kann ich mit Stolz auf zahlreiche professionelle nationale und internationale Projekte zurückblicken. </p>
          </td>
        </tr>
        <tr>
          <td class="left-col"></td>
          <td class="right-col">
            <h3>Praktische Erfahrung</h3>
          </td>
        </tr>
        <tr>
          <td class="left-col mark">Feb. 2007 – Dez 2011<br>ab Juni 2013 </td>
            <td class="right-col">
              <h4><span class="was">Freelancer</span></h4>
              <ul>
                <li>Compositing, 2D Motion Graphics, Schnitt, Farbkorrektur, DVD Erstellung, 3D Animation, Kamera, Tracking </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="left-col mark">Juni. 2012 – April 2013</td>
            <td class="right-col">
              <h4><span class="was">Motion-Grafiker</span>, <span class="wo">KidsTV, Wien</span></h4>
              <ul>
                <li>Compositing, 2D Motion Graphics, Keying, Tracking, Rotoscoping</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="left-col mark">Dez. 2001 – Feb. 2012</td>
              <td class="right-col">
              <h4><span class="was">Compositing Artist</span>, <span class="wo">Friendly Fire 3D Concept House</span></h4>
              <ul>
                <li>Compositing, 2D Motion Graphics</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="left-col mark">März 2005 – Aug. 2011</td>
            <td class="right-col">
              <h4><span class="was">Dozent</span> in <span class="wo">SAE Institute, Wien</span></h4>
              <ul>
                <li>Seminare und Workshops für Studenten der Abteilungen Film-, Audio-, Webdesign-, und Gamedesign</li>
                <li>Unterrichte in Final Cut Pro , Kamera- und Lichtequipment, Farbkorrektur in Apple Color, Dramaturgie Grundlagen und Dateiformate</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="left-col mark">Feb. 2009 – April 2009</td>
            <td class="right-col">
              <h4><span class="was">Compositing Praktikum</span> bei <span class="wo">MECHnology Post Production, Los Angeles, USA</span></h4>
              <ul>
                <li>Compositing und 2D Animation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="left-col mark">März 2004 – Nov. 2009</td>
            <td class="right-col">
              <h4><span class="was">Film Department Supervisor</span> in <span class="wo">SAE Institute, Wien</span></h4>
              <ul>
                <li>Theoretische und praktische Betreuung von Filmstudenten</li>
                  <li>Erstellung von Feedback und Abhaltung von Prüfungen</li>
                  <li>Service an Kamera-, Licht- und Tonequipment</li>
                  <li>Unterstützung bei der Kurskoordination</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="left-col"></td>
              <td class="right-col">
                <br>
                <h3>Schulbildung</h3>
              </td>
            </tr>
            <tr>
              <td class="left-col mark">Sept. 2003 – April 2011</td>
              <td class="right-col">
                <h4><span class="was">Erlangung des akademischen Grades Mag. phil.</span> in <span class="wo">Hauptuniversität Wien</span></h4>
                <p>Hauptfach: Theater-, Film- und Medienwissenschaft</p>
                <p>Nebenfach: Geschichte</p>
              </td>
            </tr>
            <tr>
              <td class="left-col mark">Nov. 2002 – Nov. 2003</td>
              <td class="right-col">
                <h4><span class="was">SAE Diploma: Digital Film Producer</span> in <span class="wo">SAE Institute Wien</span></h4>
              </td>
            </tr>
            <tr>
              <td class="left-col mark">Sept. 1997 – Juni 2001</td>
              <td class="right-col">
                <h4><span class="was">Matura</span> in <span class="wo">Elektrotechnik HTL, Waidhofen an der Ybbs, Österreich<span></h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>