
<div class="main">
  <div class="content">
    <table class="two-column">
      <tbody>
        <tr>
          <td align="center"><iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/e2PnKfgl6mc" frameborder="0" allowfullscreen></iframe></td>
        </tr>
      </tbody>
    </table>
    <div class="featuredWork">
      <h1>Featured work</h1>
      <table class="projects">
          
        <tr>
          <td class="project project1">
            <div class="title">Konzertfilm</div>
            <div class="subtitle">Farbkorrektur :: 2015</div>  
            <div class="screen">
              <img src="img/featuredwork/konzerthaus.jpg" alt="image description" title="image description"> </div>
              <div class="description">
                <p>Hollywood in Vienna 2015</p>
                <p>International anerkannter Filmmusikabend mit Stargästen</p>
            </div>

          </td>
          <td class="project project2">
            <div class="title">Kinder Wissensserie</div>
            <div class="subtitle">Farbkorrektur und FX :: 2015</div> 
            <div class="screen"> <img src="img/featuredwork/ohrwurm.jpg" alt="image description" title="image description"> </div>
            <div class="description">
                <p>Die Sendung mit dem Ohrwurm</p>
                <p>Exlusiv bei Servus TV</p>
                <p>Zwei der animierten Charaktere wurde von mir selbst eingesprochem</p>
                <p>&nbsp;</p>
            </div>
          </td>
          <td class="project project3">
            <div class="title">Dokumentarfilmreihe</div>
            <div class="subtitle">Schnitt :: 2015</div> 
            <div class="screen"> <img src="img/featuredwork/oe2.jpg" alt="image description" title="image description"> </div>
            <div class="description">
                <p>Ö2 Folge 25-31</p>
                <p>Die Neuveröffentlichung in HD mit der einen oder anderen inhaltlichen Aktualisierung</p>
            </div>
            
          </td>
        </tr>
        
        <tr>
          <td class="project project1">
            <div class="title">Jugengästehaus 1200</div>
            <div class="subtitle">Imagefilm :: 2013</div>  
            <div class="screen">
              <img src="img/home.project.screen.1.jpg" alt="image description" title="image description"> </div>
              <div class="description">
                Um die beachtliche Architektur auch in engen Räumen zur Geltung bringen zu können wurde mittels Kameraschiene gearbeitet. Die damit erzielte Dynamik und räumliche Tiefe ist beeindruckend.
            </div>
            <a href="http://www.youtube.com/watch?v=Kv2F1Dc_DMg" class="button youtube">1200 Hotel</a>
            <a href="http://www.youtube.com/watch?v=6kdM7Koid1M" class="button youtube">1070 Hotel</a>

          </td>
          <td class="project project2">
            <div class="title">24 Hours Vienna</div>
            <div class="subtitle">Imagefilm :: 2012</div> 
            <div class="screen"> <img src="img/home.project.screen.2.jpg" alt="image description" title="image description"> </div>
            <div class="description">
              Die erfolgreiche Finanzierung dieser Eigenproduktion erfolgte über Crowdfunding. Gemietet wurde eine digitale super 35mm Videoamera und erstmals war DaVinci Resolve zur Farbkorrektur im Einsatz.
            </div>
            <a href="http://youtu.be/Gubak2KLiEM" class="button youtube">24 Hours Vienna</a>
            
          </td>
          <td class="project project3">
            <div class="title">Hinter den Kulissen</div>
            <div class="subtitle">FX Supervision und Compositing :: 2013</div> 
            <div class="screen"> <img src="img/home.project.screen.3.jpg" alt="image description" title="image description"> </div>
            <div class="description">
              Für die Pilotfolge eines neuen Formates zeichnete ich mich für FX Supervision am Set sowie für das Compositing in After Effects verantwortlich.
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
