<div class="main">

	<div class="submenu">
		<ul class="aboutme">
			<li class="selected"><a href="#/projekte">Projekte</a></li>
			<li><a href="#/demoreel">Demoreel</a></li>
			<li><a href="#/lebenslauf">Lebenslauf</a></li>
			<li><a href="#/impressum">Impressum</a></li>
		</ul>
		<div class="clearer"></div>
	</div>

	<h1>Projekte</h1>
	<div class="projects">
		<table class="two-column">
			<tbody><tr>
				<td>
					<h3>Farbkorrektur (On-line Editing)</h3>
					<p>Hollywood in Vienna 2015, Konzertfilm (@Dontpanicproduction, A)</p>
					<p>ADCO – Vision Accomplished, Indusrie Film (@MingaMotion, Dt.)</p>
					<p>Sendung mit dem Ohrwurm, Kinder-Wissensserie (ServusTV, Dt – A)</p>
					<p>Vinyl, Dokumentarfilm (Lushfilms, GB - A)</p>
					<p>Rockville: The Musical (Beet 4 Feet Music, A)</p>
					<p>&nbsp;</p>
				</td>
				<td>
					<h3>3D Animation</h3>
					<p>Linde Engineering, Industriefilm (@Mingamotion, Dt) </p>
					<p>Kraft Food, Industriefilm (@Crane Ashberry Industry Films, A)</p>
					<p>Österreichische Post, PSK (@CineCraft, A)</p>
					<p>WFV - Wiener Fußball Verband (@CineCraft, A)</p>
				</td>
			</tr>
			<tr>
				<td>
					<h3>Compositing and Motion Graphics</h3>
					<p>Sendung mit dem Ohrwurm, Kinder-Wissensserie (ServusTV, Dt – A)</p>
					<p>ADCO, Indusrie Film (@MingaMotion, Dt.)</p>
					<p>Piratenfunk Franz Ferdinand, Serie (@KidsTV, A)</p>
					<p>Hallo Okidoki, Infotainment (@KidsTV, A)</p>
					<p>DREI Superacts, Online-Werbung (@FriendlyFire, A)</p>
					<p>90210, Serie (CBS Television Studios, USA)</p>
					<p>Sonny with a Chance, Sitcom (Disney, USA)</p>
					<p>Tyra Banks Show, Talkshow (The CW, USA)</p>
				</td>
				<td>
					<h3>Videoschnitt</h3>
					<p>Mehr als 250 Promotion-Videos für ORF 3 </p>
					<p>Österreich II, HD-Neuauflage, Folge 25-31 (ORF 3, A)</p>
					<p>Zeitzeugen Erzählen 2015 (mit Alexander Wrabetz), Sondersendung, Interview (ORF3, A)</p>
					<p>Das ganze Interview, 2014 (ORF 3, A)</p>
					<p>Frühstücksfernsehen Weihnachtsspezial 2013, Einzelbeiträge (ServusTV, A) </p>
					<p>Lifetime Pilates, Sportvideo (@Airplay Vienna, A)</p>
					<p>MECHnology Post Production Demoreel 2009 (@MECHnologiy, USA)</p>
					<p>Volkskultur Niederösterreich, (Bookedition, A)</p>
					<p>Volksbühne Waidhofen/Ybbs, Theateraufzeichnungen  (A)</p>
					<p>Karl Leitgeb, Graz 2003: Kulturhauptstadt (A)</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
