
<div class="main">
  <div class="content">

    <div class="infoBlock cut">
      <div class="quote">„mehr als 10 Jahre Praxis in professionellen Schnittprogrammen“</div>
      <h3>Schnitt</h3>
      <div class="text">
        Ich biete langjährige Erfahrung mit Kamera und Videosoftware. Ich arbeite zum allgemein gültigen österreichischen Tarif oder nach einer projektbezogenen Pauschale. Je nach Anforderungen Ihres Projektes kommt AVID MEDIA COMPOSER, DAVINCI RESOLVE, FINAL CUT PRO oder ADOBE PREMIERE zum Einsatz.
      </div>
    </div>

    <div class="infoBlock color">
      <div class="quote">„Damit der Betrachter immer das richtige im Auge behält!“</div>
      <h3>Farbkorrektur</h3>
      <div class="text">
        Farbkorrekturen sind unerlässlich geworden um Kamerabilder anzugleichen. Grading kann jedoch noch viel mehr. Es lenkt den Blick, verändert oder unterstreich die  Aussage- und Wirkungskraft von Filmbildern. Profitieren Sie durch kreative Nachbearbeitungs- und Korrekturmöglichkeiten aus der Postproduktion.  Allen voran DAVINCI RESOLVE und AFTER EFFECTS
      </div>
    </div>

    <div class="infoBlock postproduction">
      <div class="quote">„Ich sehe meine Arbeit mehr als Handwerk und weniger als Kunst“</div>
      <h3>Postproduktion</h3>
      <div class="text">
        Als Postproduktions-Generalist vereine ich einen umfassenden Pool an Skills. Darunter fallen neben allgemeinen Special Effects, das Keying, 3D und 2D Animation, Tracking auch Clean Up. Ich verwende dazu vor allem After Effects. Während meines Aufenthalts in Bourbank (Nord-Hollywood) habe ich des weiteren den Grundlegenden Umgang mit professioneller Trackingsoftware (Mocha, PF Track etc) erlernt
      </div>
    </div>

    <div class="infoBlock camera">
      <div class="quote">„Vertraut mit den Anforderungen von digital Special Effects am Set“</div>
      <h3>Kamera</h3>
      <div class="text">
        Mein Detailwissen im Bereich Kameratechnik und Equipment helfen mir bei der Kommunikation mit anderen Departments. Außerdem nutze ich dieses Wissen um  computergenerierte Bilder noch besser und realer wirken zu lassen oder um FX Supervision am Set durchzuführen.
      </div>
    </div>

    <div class="infoBlock animation">
      <div class="quote">„Timing ist das Wichtigste“</div>
      <h3>2D und 3D Animation</h3>
      <div class="text">Motion
        Ich biete realistische oder stilisierte 2D und 3D Animationen.
      </div>
    </div>
    
  </div>
</div>
