
<div class="main">

  <div class="submenu">
    <ul class="daten">
      <li><a href="#/datenrettung">Datenrettung: Erste Massnahmen</a></li>
      <li class="selected"><a href="#/videorekonstruktion" class="selected">Video-Rekonstruktion</a></li>
    </ul>
    <div class="clearer"></div>
  </div>

  <div class="content">
    <div class="teacher-info">
      <img src="img/philipp.business.card.small.png" alt="Philipp Glaninger"/>
      <br>
      <br>
      <div class="quote small">„Nicht Verzweifeln! Ihre Daten können mit hoher Wahrscheinlichkeit wiederhergestellt werden“</div>
    </div>


    <div class="course-info">
      <h1>Erste Schritte zur Video-rekonstruktion</h1>

      <p>hre Videodateien sind unleserlich und sie möchten sie retten? Senden Sie mir unverbindlich ihre korrupten Videodateien. Falls diese wiederhergestellt werden können sende ich Ihnen ein Preisangebot.</p>
      <p><b>Achtung bei Defekter Hardware:</b></p>
      <p> Für die Datenrekonstruktion bin ich auf normal einlesbare Daten angewiesen. Bei grundlegenden Hardwareproblemen wie ausfällen, ungewöhnlichen Geräuschen der Festplatte oder allgemeinen Zugriffsproblemen wenden sie sich an einen Festplatten-Reparaturdienst. Im Idealfall erhalten Sie Ihre Daten bereits repariert zurück. Sollte es jedoch passieren, dass die Dateien korrupt sind, so liegt dieshöchstwahrscheinlich an einer zerstörten File-Header-Information. In diesem Fall ist eine Rekonstruktion dieses Dateibereiches von Hand erforderlich. In diesem Fall kann ich ihnen mit großer Wahrscheinlich keit helfen. Neben den defekten Daten sollten Sie zusätzlich eine oder mehrere „gesunde“, also normal lesbarere Videodaten aus gleicher Quelle bereithalten. Diese dienen als Referenzdateien und sollten den  erlorengegangen Dateien möglichst gleichen.</p>
      <p>Datenrettung und Datenrekonstruktion sind komplizierte Themen. Ich selbst habe mich auf die Rekonstruktion von Videodaten spezialisiert. </p><p>Sollten sie Videodaten unabsichtlich gelöscht haben oder liegt ein </p>

      <h3>Gelöschte Videodaten wiederherstellen</h3>
      <p><b>Problem:</b></p>
      <p>Sie haben unabsichtlich Videodaten gelöscht und wollen diese wiederhergestellt und repariert haben.</p>
      <p><b>Losung:</b></p>
      <p>Sie sollten unmittelbar mit der Wiederherstellung beginnen. Wenn derDatenträger frei von Hardwarefehler ist können sich mich zur Datenrettung hinzuziehen um unmittelbar mit der Wiederherstellung beginnen zu können. Sollten der Datenverlust auf Probleme mit der Hardware zurückzuführen sein so Kontaktieren sie einen Professionellen Datenrettungsservice.</p>

      <h3>Korrupte Videodaten lesbar machen</h3>
      <p><b>Problem</b></p>
      <p>Durch einen Fehler oder Ausfall von Hardware oder Kamera sind ihre Daten unleserlich („corrupt“) geworden. Sie haben die Videodaten auf Festplatte, Flash-Speicher und ähnlichen Medien und können sie nicht mehr korrekt einlesen. Sie konnten die Daten zwar selbst wiederherstellen, aber diese sind gänzlich oder Teilweise unleserlich.</p>
      <p><b>Losung:</b></p>
      <p>Senden Sie mir unverbindlich eine ihrer korrupten Dateien + eine „gesunde“ Datei. Sofern der Inhalt rekonstruierbar ist bekommen sie eine Vorschaudatei per Mail. Nun können sie entscheiden ob sie eine vollständige Datenrekonstruktion in Auftrag geben wollen.</p>

      <p><b>Bitte Beachten sie:</b></p>
      <p>Bei gelöschten Dateien ist die Wahrscheinlichkeit groß, das der originale Dateiname und dessen Position in der Verzeichnisstruktur trotz einer erfolgreichen Wiederherstellung für immer verloren gegangen ist. Auch die Lesbarkeit der Daten ist durch eine Wiederherstellung noch nicht nicht sichergestellt. In vielen Fällen ist zusätzlich eine Rekonstruktion erforderlich.</p>

      <p><b>Achtung bei Defekter Hardware:</b></p>
      <p>Für die Datenrekonstruktion bin ich auf einlesbare Daten angewiesen. Bei Hardwareproblemen wie ausfällen, ungewöhnlichen Geräuschen der Festplatte und allgemeinen Zugriffsproblemen wenden sie sich an einen Festplatten-Reparaturdienst.</p>

    </div>
  </div>

</div>
