
<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„After Efffects ist für Video das, was Photoshop für Bilder ist."</div> 
    </div>
    <div class="course-info">
      <h1>After Effects 
        <img src="../img/ae.icon.png" alt="After Effects" title="After Effects">
      </h1>
      <div class="regText">
        <div class="course">
          <h2>Grundkurs</h2>

          <h3>Zielsetzung</h3>
          <p>After Effects ist ein mächtiges Programm. Aber sein Umgang will gelernt sein. Die Vielfalt der Funktionen kann am Anfang erschalgend wirken. Deshalb ist eine tiefgehende Einarbeitung unablässig um das volle Potential herauszuholen.</p>

          <h3>Inhalt</h3>
          <ul>
            <li>Programmoberfläche und Workflow</li>
            <li>Grundlegende Tools</li>
            <li>Arbeiten mit Layern und Modes</li>
            <li>Animieren von Layern</li>
            <li>Einsatz von Effekten und Filtern</li>
            <li>Umgang mit 2D und 3D Layer</li>
            <li>Adustem Layer</li>
            <li>Gernerieren von Material</li>
            <li>Skripten und Linken</li>
            <li>Farbkorrektur</li>
            <li>In- und Export korrekt handhaben</li>
            <li>Zumammenarbeit mit anderen Programmen (XML, etc)</li>
            <li>Typische Fehler vermeiden</li>
            <li>Marker und Keys setzten</li>
            <li>Chromakeying in Keylight und anderen Filtern</li>
            <li>Zeitlupen, Timewarping</li>
            <li>und viels mehr</li>
          </ul>

          <h3>Dauer</h3>
          <p>Je nach Vorwissen 12 Stunden bis 24 Stunden</p>


          <h2>Fortfürhungskurs Compositing UND Motion Graphics</h2>
          <h3>Zielsetzung</h3>
          <p>Spätestens wenn man mit 3D Artists zusammenarbeitet muss man mit Compositing Techniken vertraut sein um realistische Bilder zu erzeugen.</p>
          <p>Außerdem bietet dieser Kurs genug Zeit um mit Tools von Trapcode und Frischluft zu arbeiten. Auch bleibt mehr Zeit für Greenscreen Keying unter extremen Härtefällen.</p>

          <h3>Inhalt</h3>
          <ul>
            <li>Workflow mit computergenerierten Materialen (Shadow Pass, Ambient OC, etc.)</li>
            <li>Fortgeschritenes Arbeiten Filtern (z.B. Lightwraps erstellen)</li>
            <li>Anpassen der Bildqualität verschiedener Qullen durch Chromablurs und anderer Techniken</li>
            <li>Trapcode Suite (Particular, Form, etc.)</li>
            <li>Frischluft Suite (Out of Focus, etc.)</li>
            <li>Timing und Spacing für Motion Graphics</li>
            <li>Fortgeschritenes Keying</li>
            <li>Kameratracking in AE</li>
            <li>Masken und Tracking in Mocha</li>
          </ul>
          
          <h3>Dauer</h3>
          <p>Je nach Vorwissen 12 Stunden bis 24 Stunden</p>
          
          <h3>Haben Sie Interesse?</h3>
          <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir erörtern weitere Details.</p>
        </div>
      </div>
    </div>
  </div>
</div>