
<div class="main">
	<div class="content">
		<div class="teacher-info">
			<img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
			<div class="quote"></div>
		</div>


		<div class="course-info">
			<h1>Apple Color <img src="../img/apple.color.icon.png" alt="final cut pro"></h1>

			<div class="regText">

				<div class="course">
					<h2>Color Correction &amp; Grading in Apple Color</h2>
					<h3>Für wen?</h3>
					<p>Für Einsteiger oder Fortgeschrittene Nutzer von professioneller Schnittsoftware</p>
					<h3>Zielsetzung</h3>
					<ul>
						<li>Sanfter Einstieg in Color, Projektmanagement, Importieren, Exportieren, Grundlegender Workflow</li>
						<li>Nutzung der Color Rooms</li>
						<li>Waveform und Vectorscope richtig lesen</li>
						<li>Tracker</li>
						<li>Vignetten und Masken</li>
						<li>Color Correcting</li>
						<li>Allgemeine Workflow Tipps und Tricks</li>
					</ul>
					<h3>Dauer</h3>
					<p>Je nach Vorwissen 6 bis 12 Stunden<br></p>
				</div>

			</div>
		</div>

	</div>
</div>