
<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„XSI hat seinen festen Platz unter den 3D Tools und bietet wohl die besten Werkzeuge für Animation."</div>
    </div>
    <div class="course-info">
      <h1>Autodesk XSI 
        <img style="width: 30px; height: 30px;" src="../img/xsi.icon.png" alt="Autodesk XSI" title="Autodesk XSI">
      </h1>
      <div class="regText">
        <div class="course">
          <h2>Einstieg in Die Welt von 3D Modeling und Animation</h2>

          <h3>Zielsetzung</h3>
          <p>3D ist ein komplexes Themengebiet. Dieser Kurs führt sie behutsam durch alle wesentlichen Themengebiete. Dieser Kurs kann auch für Umsteiger adaptiert werden.</p>

          <h3>Inhalt</h3>
          <ul>
            <li>Einführung in den Workflow</li>
            <li>Modeling von komplexen Objekten&nbsp;</li>
            <li>Animation von Comic Charakteren</li>
            <li>Texturierung und Animation</li>
            <li>Rendering</li>
            <li>Physics Simulationen</li>
          </ul>

          <h3>Dauer</h3>
          <p>Je nach Vorwissen 12 Stunden bis 36 Stunden.</p>

          <h3>Haben Sie Interesse?</h3>
          <p>Melden sie sich unverbindlich unter mail@filmeffects.net undwir erörtern weitere Details.</p>
        </div>
      </div>
    </div>
  </div>
</div>