
<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote"></div>
    </div>
    <div class="course-info">
      <h1>Davinci Resolve 
        <img style="width: 30px; height: 30px;" src="../img/davinci.icon.png" alt="final cut pro">
      </h1>
      <div class="regText">
        <div class="course">
          <h2>Color Correction Grading in Davinic Resolve</h2>

          <h3>Für wen?</h3>
          <p>Für Einsteiger und Umsteiger auf Davinci Resolve.</p>

          <h3>Zielsetzung</h3>
          <ul>
            <li>Sanfter Einstieg in Resolve inkl. Projektmanagement, Importieren, Exportieren, Grundlegender Workflow</li>
            <li>Nutzung der Nodes</li>
            <li>Waveform und Vectorscope richtig lesen</li>
            <li>Tracker</li>
            <li>Vignetten und Masken</li>
            <li>Color Correcting &amp; Grading</li>
            <li>Allgemeine Workflow Tipps und Tricks</li>
          </ul>

          <h3>Dauer</h3>
          <p>Je nach Vorwissen 6 bis 12 Stunden</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
