
<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„Schon nach fünf Minuten vergesse ich, dass ich einen Film sehe.“</div>
      <div class="quote">„Durch meine universitäre Diplomarbeit konnte ich  Erfahrung  auf dem Gebiet der filmischen Immersion sammeln."</div>
    </div><!-- teacher-info -->

    <div class="course-info">
      <h1>Immersive Dramaturgie <img alt="Dramaturgie" src="../img/drama3.icon.png"></h1>
      <div class="regText">
        <div class="course">
          <h2>Techniken zum Eintauchen in die Filmwelt </h2>
          <h3>Zielsetzung</h3>
          <p>Hollywood hat wohl die effektivste Filmsprache entwickelt.
            Bedacht darauf den Zuseher in eine andere Welt zu entführen.
            Dieser Kurs untersucht die immersiven Techniken und Strategien die
            bewusst oder unbewusst von Filmemachern vorgenommen werden. 
          </p>
          <h3>Inhalt</h3>
          <ul>
            <li>Was ist Immersion und welche Typen gibt es?</li>
            <li>Welche Möglichkeiten bietet die Bild- und Tongestaltung? </li>
            <li>Empfehlenswerte Storytelling Techniken (Vorshadowing, etc.)</li>
            <li>Schnitttechniken (Match Cut, Jump Cut, etc.)</li>
            <li>Einsatz von Musik (Kontrapunktierend, Paraphrasierend)</li>
            <li>Farbgestaltung</li>
            <li>Menschliche Sinne mit filmischen Mitteln darstellen.</li>
          </ul>
          <h3>Dauer</h3>
          <p>ca. 6 Stunden</p>
          <h3>Interesse zur Fortbildung?</h3>
          <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir erörtern weitere Details.</p>
        </div>
      </div>
    </div>
  </div>
</div>