
<div class="main">
	<div class="content">
		<div class="teacher-info">
			<img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
			<div class="quote">„vom Menuedesign bis zur Pressung“</div>
		</div>


		<div class="course-info">

			<h1>DVD Studio <img src="../img/dvd.studio.icon.png" alt="dvd studio" title="dvd studio"></h1>
			<div class="regText">

				<div class="course">
					<h2>Professionelles DVD Authoring </h2>
					<h3>Für wen?</h3>
					<p>Für Interessierte die professionelle DVDs erstellen wollen. Es wird empfohlen bereits mit Photoshop und einem Schnittprogramm vertraut zu sein. </p>
					<h3>Zielsetzung</h3>
					<ul>
						<li>Navigation im Programm</li>
						<li>Erstellen von animierten Menüs, Slideshows, etc  </li><li>Generierung von Material in Photoshop</li>
						<li>Besprechung über die Vorgehensweise bei Pressungen</li>
						<li>Anwendung simpler Scripts</li>
						<li>Basis-Einführung in Compressor</li>
						<li>Encoding und Bit Budgeting</li>
					</ul>
					<h3>Dauer</h3>
					<p>Je nach Vorwissen 3 bis 6 Stunden</p>
				</div>
			</div>
		</div>
	</div>
</div>
