
<div class="main">
  <div class="content">
    <div class="teacher-info"> 
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger" />
      <div class="quote">"Profi-Schnittsoftware beherrschen und auf Final Cut umsteigen"</div>
    </div><!-- teacher-info -->


    <div class="course-info">
      <h1>Final Cut Pro <img src="../img/final.cut.pro.icon.png" alt="final cut pro"/></h1>
      <div class="regText">
        <div class="course">
          <h2>Einsteiger-Crashkurs in "Final Cut Pro 7" oder "Final Cut X"</h2>

          <h3>Für wen?</h3>
          <p>Für diejenigen die noch keine oder nur sehr wenig Erfahrungen in Schnittprogrammen jeder Art gemacht haben und es für private oder berufliche Zwecke benötigen.</p>

          <h3>Zielsetzung</h3>
          <p>Sanfter Einstieg in FCP, Projektmanagement, Importieren, Exportieren, Grundlegende Schnitttechniken</p>

          <h3>Zeit / Preisse</h3>
          <p>12 Stunden (4 x 3 Stunden oder 2 x 6 Stunden)</p>
          <p>540€ inkl. Mwst.</p>
        </div>

        <hr />

        <div class="course">
          <h2>Komplettkurs "Final Cut Pro 7"</h2>
          <h3>Zeit / Preisse</h3>
          <p>12 Stunden (4 x 3 Stunden oder 2 x 6 Stunden) 540€ inkl. Mwst.</p>
          <h3>Inhalt</h3>
          <ul>
            <li>Working with the Browser and Bins</li>
            <li>Marking clips and creating insert and overwrite edits as well as drag and drop editing</li>
            <li>Trimming edit points using Ripple, Roll and Extend edits and the Slip and Slide tools</li>
            <li>Applying filters</li>
            <li>Audio editing and audio creation</li>
            <li>Finishing and final output</li>
            <li>Asymmetrical Trimming and Advanced Trim edit window techniques</li>
            <li>Multicamera Editing</li>
            <li>Working with filters, variable speed and slow-motion techniques</li>
            <li>Audio editing, mixing and creation</li>
            <li>Color correction and matching shots</li>
            <li>Finishing and final output</li>
          </ul>
          <h3>Zielsetzung</h3>
          <p>Details zum Import (von Band und Datenträger) und Export (im Programm Compressor)</p>
        </div>

        <hr />

        <div class="course">
          <h2>Color Correction in "Final Cut Pro 7" oder "Final Cut X"</h2>
          <h3>Zeit / Preisse</h3>
          <p>12 Stunden 660€ inkl. Mwst.</p>
        </div>
      </div>
    </div><!-- course-info -->
  </div>
</div><!-- main -->