
<div class="main">
	<div class="content">
		<div class="teacher-info">
			<img src="../img/philipp.business.card.small.png" />
			<div class="quote">"Profi-Schnittsoftware beherrschen und auf Final Cut umsteigen"</div>
		</div>

		<div class="course-info">
			<h1>Final Cut X <img src="../img/final.cut.x.icon.png" alt="final cut x"/></h1>
			<div class="regText">
				<h2>Umsteiger-Crashkurs in <b>"Final Cut Pro 7"</b> oder <b>"Final Cut X"</b></h2>

				<h3>Für wen?</h3>
				<p>Für all diejenigen die bereits eine Profi-Schnittsoftware beherrschen und nun auf Final Cut umsteigen wollen.</p>

				<h3>Zeit</h3> 
				<p>6 Stunden (2 x 3 Stunden oder 1 x 6 Stunden)</p>
				<p>540€ inkl. Mwst.</p>

				<h3>Zielsetzung</h3>
				<p>Sanfter Einstieg in FCP, Projektmanagement, Importieren, Exportieren, Grundlegende Schnitttechniken</p>
			</div>
		</div>

	</div>
</div>
