
<div class="main">
  <div class="content">
    <div class="teacher-info">

      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„Filmen ist für mich in erster Linie ein Handwerk.“</div>

    </div>
    <div class="course-info">
      <h1>KamerA, Licht und Ton 
        <img style="width: 30px; height: 30px;" src="../img/light.icon.png" alt="Kamera Licht" title="Kamera Licht">
      </h1>
      <div class="regText">
        <div class="course">
          <h2>KreativeR Umgang mit Equipment</h2>

          <h3>Zielsetzung</h3>
          <p>Durch knappere Bugets, aber auch zur besseren Kommunikation mit dem Team ist es sinnvoll die Bereiche Kamera, Licht und Ton zu kennen. </p>
          <p>Gedacht für Einsteiger professionellen und semiprofessionellen Videoproduktion und für diejenigen, die ihr bereits vorhandenes Grundwissen erweitern wollen.</p>

          <h3>Inhalt</h3>
          <ul>
            <li>Korrekte Handhabung von Kamera, Licht und Tonequipment</li>
            <li>Gestalterische Potential von Brennweite, Blende, Gain, Verschlusszeit, etc. </li>
            <li>Kamerasettings optimieren (Detail Coring, Black Level, etc.)</li>
            <li>Lichtsetzungsgrundlagen</li>
            <li>Tonaufnahmen mit XLR Mikrophonen</li>
            <li>Bildsprache, Bildgestaltung</li>
            <li>Technische Probleme und wie sie zu bekämpfen sind</li>
          </ul>

          <h3>Dauer</h3>
          <p>je nach Vorwissen 6 Stunden bis 12 Stunden</p>

          <h3>Interesse zur Fortbildung?</h3>
          <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir
            erörtern weitere Details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>