<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„Tracking gehört mittlerweile zum Basiswissen im Bereich der Postproduktion."</div>
    </div>
    <!-- teacher-info -->
    <div class="course-info">
      <h1>
       2D und 3D Tracking 
       <img style="width: 30px; height: 30px;" alt="Dramaturgie" src="../img/pftrack.icon.png">
     </h1>
     <div class="regText">
      <div class="course">
        <h2>Mocha und PF Track in der Praxis</h2>

        <h3>Zielsetzung</h3>
        <p>Dieser Kurs beschäftig mit den Themen Mocha (2D Tracking), PFTrack (3D Objekt und Kameratracking) sowie den technischen Hintergrundwissen für erfolgreiche FX-Aufnahmen mit HD Videokameras. </p>

        <h3>Inhalt</h3>
        <ul>
          <li>Hintergrundwissen (Welcher Tracker bevorzugt welche Trackingmarker)</li>
          <li>Kamerasettings optimieren</li>
          <li>Optikprobleme durch Distortion ausgleichen</li>
          <li>Tracking in Mocha und PFTack</li>
          <li>Stabilisation in Mocha vs. AE</li>
          <li>Generierung von Masken in Mocha</li>
          <li>Export von Trackingdaten nach AE und XSI</li>
          <li>Trackingdaten in AE nutzen (z.B. für Cleanup oder Matte Paintings)</li>
          <li>Tipps und Tricks zur Verbesserung der Ergebnisse</li>
        </ul>

        <h3>Dauer</h3>
        <p>Je nach Vorwissen 12 Stunden bis 24 Stunden.</p>

        <h3>Interesse zur Fortbildung?</h3>
        <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir erörtern weitere Details.</p>
      </div>
    </div>
  </div>
</div>
</div>