
<div class="main">
  <div class="content">
    <div class="teacher-info">
      <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
      <div class="quote">„Photoshop ist in der Postproduktion Grundlage für beinahe alles“</div>
    </div>
    <div class="course-info">

      <h1>Photoshop 
        <img style="width: 30px; height: 30px;" src="../img/ps.icon.png" alt="Photoshop" title="Photoshop">
      </h1>
      <div class="regText">
        <div class="course">
          <h2>PhotoshopGrundlagen für den Filmbereich</h2>

          <h3>Zielsetzung</h3>
          <p>Tipps und Tricks rund um Photoshop. Zugeschnitten auf Individuelle Bedürfnisse. Gerne kann auch ein Einführungsunterricht in Photoshop selbst gestaltet werden.</p>

          <h3>Inhalt</h3>
          <ul>
            <li>Grundlegendes in Hinblick auf eine Auswertung im TV </li>
            <li>Arbeiten mit non-square Pixel</li>
            <li>Bild für Bild und Standbild Retousche</li>
            <li>Farbräume (RGB, YUV)</li>
            <li>DVD und BlueRay Menüs erstellen</li>
            <li>Lesbarkeit von Texten in Filmen verbessern</li>
            <li>Kamerasoptiken nachbilden bzw. die Fehler ausbessern</li>
            <li>Bildqualität heben</li>
          </ul>

          <h3>Dauer</h3>
          <p>je nach Vorwissen 3 Stunden bis 12 Stunden</p>

          <h3>Haben Sie Interesse?</h3>
          <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir erörtern weitere Details.</p>
        </div>
      </div>
    </div>
  </div>
</div>