<div class="main">
    <div class="content">
        <div class="teacher-info">
            <img src="../img/philipp.business.card.small.png" alt="Philipp Glaninger">
            <div class="quote">„Schon ein paar wenige Eingriffe machen den großen Unterschied“</div>
            <div class="quote">„Soundtrack gehört zum guten Ton“</div>
        </div>

        <div class="course-info">

            <h1>Soundtrack (Adobe Audition) <img src="../img/soundtrack.icon.png" alt="soundtrack" title="soundtrack"></h1>
            <div class="regText">

                <div class="course">
                    <h2>Grundlagen der Soundbearbeitung für Videocutter</h2>

                    <h3>Zielsetzung</h3>
                    <p>Tipps und Tricks bei der Tonbearbeitung. Professioneller Einsatz der wichtigsten Tools (z.B. Kompressor, Limiter, Entrauschen) für die Film-Tonnachbearbeitung. Schon ein paar wenige Schritte machen einen enormen Unterschied. Besprechung über die Handhabung von OMF-Dateien und EDL-Schnittlisten für die Übergabe an professionelle Tonstudios.
                    </p>

                    <h3>Inhalt</h3>
                    <ul>
                        <li>Arbeitsablauf in Soundtrack</li>
                        <li>Erstellung und Bearbeitung von Mehrspur Sequenzen</li>
                        <li>Tonverbesserung und Reparatur</li>
                        <li>Arbeit mit Kompressor, Limiter, EQ, Entrauscher</li>
                        <li>Datenaustausch zwischen Soundtrack und Final Cut Pro</li>
                    </ul>

                    <h3>Dauer</h3>
                    <p>je nach Vorwissen 3 Stunden bis 6 Stunden</p>

                    <h3>Interesse zur Fortbildung?</h3>
                    <p>Melden sie sich unverbindlich unter mail@filmeffects.net und wir erörtern weitere Details.</p>
                </div>

            </div>
        </div>
    </div>
</div>